.price {
    margin-bottom: 150px;

}

.price__inner {
    display: block;
    text-align: center;
    
    margin-bottom: 50px;
}

.price__span{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #22343D;
}

.price__hiading {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}


.price__text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    color: #22343D;
}

.price__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.price__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 24px 74px 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    list-style-type: none; 
}

.price__strong {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}

.price__word {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
}

.price__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

}

.price__narx {
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;  
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
    margin-right: 8px;
}

.price__div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.price__birlik {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;   
    letter-spacing: 0.1px;
    color: #02897A;
    margin-bottom: 4px;
}

.price__month {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

.price__asiblity-list {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 50px;
}

.price__assisiblity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
}

.price__assisiblity:last-child{
    margin-bottom: 0;
}

.price__btn {
    padding: 11px 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #02897A;
    border: 0;
    border-radius: 8px;
}

.price__item--active {
    background: #02897A;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.price__strong--active {
    color: #FFFFFF
}

.price__word--active {
    color: #FFFFFF
}


.price__box--active {
    
    color: #FFFFFF
}

.price__narx--active {
    color: #FFFFFF
}

.price__div--active {
    color: #FFFFFF
}

.price__birlik--active {
    color: #FFFFFF
}

.price__month--active {
    color:  #E0E0E0;
}

.price__asiblity-list--active {
    color: #FFFFFF
}

.price__assisiblity--active {
    color: #FFFFFF
}

.price__btn--active {
    color: #02897A;
    background-color: #FFFFFF;
}


@media only screen and (max-width:576px){
    .price {
        margin-bottom: 40px;
      
    }
    
    .price__inner {
        margin-bottom: 74px;
    }
    
  

    
    .price__list {
   flex-direction: column;
   align-items: center;
    }

    .price__item{
        margin-bottom: 32px;
    }
    .price__strong{
        margin-bottom: 8px;
    }
}   